<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
    </style>
</head>

<body>
    <div id ="app">
        <ul>
            <li v-for="(item,index) in str" :key="index">
                {{item}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(item,index) in num" :key=index>
                {{item}}
            </li>
        </ul>
    </div>

    <script src='../js/vue.js'></script>
    <script>
     //创建Vue实例,得到 ViewModel
     var vm = new Vue({
        el: '#app',
        data: {
            str:'hellogamecc666',
            num:10
        },
        computed: {
            
        },
        methods: {
            
        }
     });
    </script>
</body>
</html>