<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        
    </style>
</head>

<body>
    <div id ="app">
        <ul>
            <li v-for="(item,index) in users" :key='item.id'>
                {{index}}.
                用户名：{{item.name}}
                密码：{{item.pasword}}
            </li>
        </ul>
        <ol>
            <li v-for="(value,key) in userObj" :key="key">
                用户名：{{key}}
                密码：{{value}}
            </li>
        </ol>
    </div>

    <script src='../js/vue.js'></script>
    <script>
     //创建Vue实例,得到 ViewModel
     var vm = new Vue({
        el: '#app',
        data: {
            users:[
                {id:'1',name:'gamecc666',pasword:'123'},
                {id:'2',name:'gamecc333',pasword:'456'},
                {id:'3',name:'gamecc111',pasword:'132'}
            ],
            userObj:
            {
                lee:'1233333',
                zhangsan:'2312312',
                lisi:'3232323'
            }
        },
        computed: {
            
        },
        methods: {
            
        }
     });
    </script>
</body>
</html>